.cartItem{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}
img{
    width:100px;

}
.Container{
    height:200px;
    text-align: left;
    padding-left:10px;
    padding-right:40px;
   
}
.border{
    border:1px solid black
}
.ImageDiv{
   display: flex;
   justify-content:space-between;
    
}
.boldText{
    font-size: 20px;
    font-weight: bold;
}
.buttonIncrement{
  
    margin: 5px;
    padding:10px;
    font-weight: bold;
    
}
.subtotal{
    font-weight: bold;
    color:red
}
.brandName{
    padding:20px;
    font-weight: bold
}