.footer{
    width:100%;
    background-color: rgb(249,249,249);
    bottom: 0px;
 
   
}

.firstdiv{
    width:100%;
    height:10%;
    display:flex;
    background-color: rgb(255,255,255);
    padding:1%;
    /* display:flex;
    margin:auto;
    padding:1%; */
   
}
#footertext{
    display:inline;
    margin:1%;
    font-size: larger;

}
.seconddiv{
    width:90%;
    margin:auto;
    margin-top:2%;
    background-color:  rgb(255,255,255);
    display:flex;
    justify-content: space-around;
    padding:2%;
   
    /* height:50px; */
}

.div1
{
    /* border: 1px solid black; */
    /* height: fit-content; */
   
   text-align: center;
   padding-top: 1%;
 

   
    /* margin-top: -5px; */

}
.font
{
    font-size: 20px;
    font-weight:500;
}
.div1 img
{
    
    width: 90%;
    height:60px;
    text-align: center;
    box-sizing: border-box;
 
}
.divs2
{
    /* border: 1px solid tomato; */
    text-align: center;
    margin-left: 65px;
    margin-top: 10px;
    width: 225px;
}

.divs2>img{
    height:20%;
    width:15%;

}

.main_div2
{
   margin:auto;
    width:90%;
    /* border: 1px solid green; */
    height: 12%;
    box-sizing: border-box;
    padding-top:2%;
    display: flex;
    justify-content:space-between;
   
}
.top_div
{
    display: flex;
    width:50%;
    height:100%;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    padding: 2%;
   
}
.font1
{
    font-size: 19px;
    font-weight: 550;
    color: gray;
    margin-top: 10px;
}
.points
{
    width: 350px;
    height: 40px;
    font-size: 18px;
}
.sub_btn
{
    color: white;
    background-color: black;
    width: 150px;
    height: 44px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.thirdright{
    display:flex;
    width:50%;
   
    padding-top:2%;
    justify-content:space-around;


}
.icons{

    font-size: 40px;
}
.list-unstyled{
    list-style: none;
    text-align: left;
}
.row{
    display:flex;
    margin:auto;
   justify-content:space-between;
   width:90%;
   font-size: 20px;
  
}

.scan{
   height:80px;
   max-width: auto;
}
.belowimg{
    width:100%;
    height:10%;
   
}
.belowimg>img{
   
    width:3%;
    margin-left:2%;
     margin:2% 2% 0 0; 

    height:18%;
}
