.App {
    text-align: center;
}

.mainDiv {
    width: 85%;
    border: 1px solid black;
    margin-top: 50px;
    margin: auto;
    display: grid;
}

.titleP {
    font-size: 90%;
}

.recommendDiv {
    display: grid;
    grid-template-columns: repeat(4, 23%);

}

.recommendDiv>div {
    margin-left: 20px;
    /* border: red 1px solid; */

}

.categoryDiv {
    width: 100%;
    /* border: 1px solid rgb(230, 214, 214); */
    /* margin-top: 100px; */
    padding: 24px;
    margin-left: 30px;
    margin-right: 20px;
    height: 90%;
}

.categoryDiv:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.categoryDiv>img {
    width: 80%;
    height: 50%;
}

.categoryDiv>span {
    display: flex;
   
}

.categoryDiv>span>p {
    padding-left: 5%;
    margin-top: 10px;
}

.categoryDiv>span>:nth-child(2) {
    text-decoration: line-through;

}

.categoryDiv>span>:nth-child(1) {
    color: red;

}

.titleP {
    height: 14%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Recomm{
    text-align: left;
    font-size: 22px;
    margin-left: 30px;
    font-weight: 700;
}


