.categoryDiv {
    width: 90%;
    /* border: 1px solid rgb(182, 50, 50); */
    margin-top: 10px;
    /* padding: 24px; */
    /* margin-left: 30px; */
    margin-right: 20px;
    margin-left: -10px;
   
}
.categoryDiv>span>p {
    padding-left: 12%;
    margin-top: 10px;
    
}
.collectionData{
    
    display: grid;
    grid-template-columns: repeat(4, 20%);
    width: 95%;
    border: 1px solid rgb(223, 196, 196);
    margin-top: 30px;
    margin: auto; 
}
.categoryDiv:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.categoryDiv img {
    width: 80%;
    height: 50%;
}
.categoryDiv>span {
    display: flex;
   
}
.categoryDiv>span>p {
    /* padding-left: 5%; */
    margin-top: 10px;
}
.categoryDiv>span>:nth-child(2) {
    text-decoration: line-through;

}

.categoryDiv>span>:nth-child(1) {
    color: red;

}
.titleP {
    height: 12%;
    overflow: hidden;
    text-overflow: ellipsis;
}

