.otpcontainer {
    width: 300px;
    height: 400px;
  
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    justify-content: space-around;
}

.container h1 {
    text-align: center;
}

#otp {
    width: 100%;
    margin-left: -10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.input-field input {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    margin-bottom: 30px;
}

#pay {
    background-color: blueviolet;
    width: 50%;
    color: white;
    margin-left: 25%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}